# Poetry / Python stuff
__pycache__
.venv
.pytest_cache
.ruff_cache
*.pyc
*.pyo
dist/

# IDE stuff
.vscode
.idea

# Local environment
.envrc
.tool-versions
.env

# Local data
config.yaml
data/

# Code and stuff not needed for docker build
docker-compose/
tests/
.github/
Makefile
.gitignore
.git/

# Documentation and legal files (copied separately if needed)
LICENSE
CHANGELOG.md
CONTRIBUTING.md
